body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-container {
    border: 1px black solid;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    
}

.squares {
    
    aspect-ratio: 2/1;
    flex: 1 0 6%;     
    box-sizing: border-box;
    height: 30px;
    width: 5px;
    
}

button {
    margin-top: 50px;
    border-radius: 50px;
    width: 100px;
    background-color: black;
    color: white;
}