body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-container {
    border: 2px white solid;
    width: 700px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 50px 0 50px;
    border-radius: 20px;

    
}

.squares {
     
    box-sizing: border-box;
    height: 31.25px;
    width: 43.75px;

    
}

button {
    margin-top: 50px;
    border-radius: 50px;
    width: 100px;
    background-color: black;
    color: white;
    border: 1px white solid;
}